
		<h1>Chapter {{chapter}} Article {{article}}  <a href="{{root}}db/c{{chapter}}a{{article}}" class="btn btn-primary btn-lg active">
  <span class="glyphicon glyphicon-download-alt"></span> Raw JSON
</a></h1>
		{{#if desc}}<h2>{{desc}}</h2>{{/if}}
		{{#if text}}<p>{{text}}</p>{{/if}}

