
		<h1>Part {{part}} <a href="/api/part/{{part}}" class="btn btn-primary btn-lg active">
  <span class="glyphicon glyphicon-download-alt"></span> Raw JSON (big)
</a></h1>
		<ul>
		{{#rows}}
			<li>
			<a class='bodyLink' href='Part{{part}}/Title{{title}}' id="GeneralLaws/Part{{part}}/Title{{title}}">
				Title {{title}}
			</a>
			</li>
		{{/rows}}
		</ul>

