<div class="row">
		<ul class="breadcrumb">
  			<li><a class='bodyLink' href="SessionLaw" id="SessionLaw">Session Laws</a></li>
  			<li><a class='bodyLink' href="SessionLaw/Year{{year}}" id="SessionLaw/Year{{year}}">Year {{year}}</a></li>
  			
  			<li class="active">Chapter {{chapter}}</li>
		</ul>
		<h1>Session {{year}} Chapter {{chapter}}</h1>
		{{#desc}}<h4>{{desc}}</h4>{{/desc}}
		{{#text}}{{{text}}}{{/text}}
		</div>
