
		<h1>Year {{year}} <a href="{{root}}api/year/{{year}}" class="btn btn-primary btn-lg active">
  <span class="glyphicon glyphicon-download-alt"></span> Raw JSON (big)
</a></h1>
		<ul>
		{{#rows}}{{#if doc.desc}}
			<li><h3>
			<a class='bodyLink' href='/{{doc._id}}' id="{{doc._id}}">
				Chapter {{doc.chapter}}
			</a></h3>
			{{doc.desc}}
			</li>
			{{/if}}
		{{/rows}}
		</ul>

